body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }
  
  .map{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;

 
}



.imageback{
    width: 700px;
    border-radius: 50%;
    
}


.location-icon {
    font-size: 2rem;
    color: blue;
    position: absolute;
  }

  .location-point {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: rgb(0, 4, 255);
    z-index: 6;
  }





  .capteur-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    top: 10px; /* position the element at the top */
    left: calc(50% - 130px);
    z-index: 1; /* set the stack order of the element */
  }

  .highlighted {
    box-shadow:  0 1px 10px 5px red ;
  }

  .capteur-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */

  }

  .capteur-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
    top: 60px; /* position the element at the top */
    left: calc(50% + 200px);
  }

  .capteur-4 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
    bottom: 60px; /* position the element at the top */
    left: calc(50% + 200px);
  }

  .capteur-5 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
    bottom: 10px; /* position the element at the top */
    right: calc(50% + 110px);
  }

  .capteur-6 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
 /* position the element at the top */
    left: calc(50% - 360px);
  }
  .capteur-7 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
    right: calc(50% - 335px);
    bottom:220px;
  }
  .capteur-8 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
 /* position the element at the top */
    right: calc(50% - 335px);
    top:220px;
  }
  .capteur-9 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
 /* position the element at the top */
    left: calc(50% - 295px);
    bottom:140px;
  }
  .capteur-10 {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* make the element circular */
    background-color: red;
    position: absolute; /* position the element according to the nearest positioned ancestor */
    z-index: 1; /* set the stack order of the element */
 /* position the element at the top */
    left: calc(50% - 295px);
    top:140px;
  }

   

